<section id="home">
  <div class="container contenedor-principal">
    <div class="container-texto">
      <h4 class="">Nuestro Campamento</h4>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <p class="card-text"></p>
            <p class="card-text">
              La Campaña de Verano 2023 del instituto de la Juventud de
              Extremadura (IJEX) oferta este año 455 plazas en campamentos que
              se celebrará en la región y en otras ciudades Autónomas.
            </p>
            <p class="card-text">
              La oferta se dirige a jóvenes de entre 10 y 17 años y el plazo
              para solictar una de las actividades se abrirá el próximo 9 de
              mayo a las 9:00 horas,finalizando el plazo de solicitud el 16 de
              mayo a las 9:00 horas.
            </p>
            <p class="card-text">
              Este programa pretende ofrecer actividades de ocio y tiempo libre
              a la población uvenil en la época estival , al mismo tiempo que
              permite el fomento de la conciliación de la vida personal y
              laboral de las familias extremeñas.
            </p>
          </div>
        </div>
        <div
          class="container icons"
          data-aos="fade-up"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000"
        >
          <div class="contenedor-elementos">
            <div class="contenedor-icon">
              <img src="fogata.svg" alt="" />
            </div>
            <div class="contenedor-icon">
              <img src="/canoa.svg" alt="" />
            </div>
            <div class="contenedor-icon">
              <img src="/camp.svg" alt="" />
            </div>
            <div class="contenedor-icon">
              <img src="/pino.svg" alt="" />
            </div>
          </div>
         
        </div>
        <div class="contenedor-character" data-aos="fade-up"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
          <img src="/character1.png" class="character1" alt=""/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="container-photos">
          <div class="contenedor-photo">
            <img src="/3.png" class="foto1" alt=""/>
          </div> 
          <div class="contenedor-photo">
            <img src="/1.png" class="foto2"  alt=""/>
          </div>
        </div>
        <div class="container-charactersegundo">
          <div class="contenedor-character " data-aos="fade-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000">
            <img src="/character2.png" class=" character2" alt=""/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
 
  .contenedor-personaje{
    margin-top: -150px;
  }
  .contenedor-photo img{
    height: 200px;
    width: 200px;
    border: 4px solid #FFF001;
    outline: 4px solid white;
    border-radius: 50%;
  }
  
  .foto2{
    height: 280px !important;
    width: 280px !important;
    margin-left: 100px;
  }
  .contenedor-character {
    margin-left: 50%;
    margin-top: -145px;
  }
  .character1{
    width: 300px;
    height: auto;
    transform:rotate(-20deg);
    margin-top: -40px;
    margin-left: -80px;

  }
.character2{
  height: 700px !important ;
  margin-top: -450px;
  margin-left: 0px;
}
  .container-img {
    margin-left: 200px;
  }
  .character {
    height: auto;
   
  }
  .contenedor-icon p {
    color: white;
    font-weight: bolder;
  }
  .contenedor-elementos {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      margin-left: -450px;
    }

    .contenedor-icon {
      display: flex;
      justify-content: center;
      align-items: center;
     
      padding: 10px;
    }
  .icons {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 10px;
  }
  .contenedor-icon p {
    color: #00226e;
  }
  .contenedor-icon img {
    width: 80px;
    margin: 0 auto;
    height: 80px;
    
  }
  .contenedor-icon:hover {
    transform: translateY(-10px);
  }
  .contenedor-icon {
    transition: all 0.8s;
    margin-left: 50px;
  }
  .contenedor-icon p {
    font-size: 1.2rem;
    text-align: center;
  }
  .card {
    background-color: transparent;
    border: none;
  }
  h4 {
    color: #00226e;
    font-weight: bolder;
    font-size: 2.5rem;
  }
  h5 {
    color: #00226e;
    font-weight: bolder;
  }
  p {
    color: black;
    font-weight: 555;
    text-wrap: balance;
  }
  .container-texto {
    padding-top: 50px;
  }
  section {
    margin-top: -130px;
    background-color: #FFF001;
    height: 120dvh;
    clip-path: polygon(
      22% 0,
      64% 15%,
      100% 0,
      100% 100%,
      61% 88%,
      33% 79%,
      0 100%,
      0 25%
    );
  }
  .contenedor-principal {
    padding-top: 140px;
  }
</style>
