<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" href="#header">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#home">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#informacion">Actividades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#camping">Camping</a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
          

           
        </div>
    </div>
</nav>
<style>
  







.contenedor-boton button p {
    margin: 0; /* Eliminar el margen del párrafo */
    color: white;
}
    ul:hover, a:hover{
        transition: all 0.8s;
        color: #F20519;
    }
    ul{
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    li{
        font-size: 18px;
        color: white;
    }
    a{
        color: white;
        font-weight: 555;
    }
    nav{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.2);
        
        width: 100%;
       
        z-index: 999999;
        border-bottom: 2px solid #FFF001;
        height: 10%;
       
    }
    img{

        width: 180px;
        height: 420px;
        object-fit: contain;
    }
</style>