<section id="camping">
<div class="container-principal">
<div class="row">
  <div class="col-md-6">
    <div class="container contenedor-texto">
      <h5>Excursión y senderismo</h5>
      <p>La Camapaña de Verano 2023 del intituto de la Juventud de Extremadura (IJEX) oferta este año 455 en campamentos que se celebrarán en la región y en otras Comunidades Autónomas.</p>
      <p>La oferta se dirige a jóvenes de entre 10 a 17 años y el plazo apra solicitar una de las actividades  que se abrirá el proximo 9 de mayo a las 9:00 horas, finalizando el plazo de solicitud el 16 de mayo a las 9:00 horas.</p>
    </div>
    <div class="contenedor-imagenes">
      <div class="contenedor-img">

        <img src="/carajitoscorriendo.jpg" class="photo photo1" alt=""/>
      </div>
      <div class="contenedor-img">
  
        <img src="/campo.jpg" class="photo photo2" alt=""/>
      </div>
    </div>
    
  </div>
  <div class="col-md-6 contenedorcolumna">
    <div class="container-img">
      <img src="/sisas.png" alt="" class="photo"/>
    </div>
    <div class="container-character" data-aos-easing="ease-out-cubic"
    data-aos-duration="2000" data-aos="fade-left">
      <img src="/mostro2.png" class="character" alt=""/>
    </div>
  </div>
</div>
 
</div>
</section>

<style>
  .container-character{
    margin-left: 25%;
    margin-top: -25%;
  }
  .character{
    width: 500px;
    transform: scaleX(-1);
    margin-top: -180px;
    margin-left: 20px;
  }
  .contenedorcolumna{
    margin-top: 10%;
  }
  .contenedor-imagenes{
    display: flex;
    margin-top: 40pxs;
  }
  .photo{
    margin-left: 50px;
    height: 250px;
    border-radius: 50%;
    width: 250px;
    outline: 4px solid white;
    border: 4px solid transparent;
    object-fit: cover;
  }
  .photo1{
    height: 350px;
    width: 350px;
    margin-top: 10px;
  }
  .photo2{
    margin-left: 100px;
    margin-top: 50px;
    width: 250px;
    height: 250px;
  }
  .contenedor-texto{
    margin-left: 20px;
    padding-top: 50px;
  }
 .container-principal{
  padding-top: 40px;
 }
 h5{
  color: blue;
  font-size: 3rem;
 }
 p{
  font-size: 1rem;
  text-wrap: balance;
 }
  section {
    height: 100dvh;

   margin-top: -125px;
    background-color: #FFF001;
    clip-path: polygon(0 1%, 77% 18%, 100% 0, 100% 95%, 67% 100%, 25% 90%, 0 100%, 0 12%);

    padding-bottom: 200px;
    padding-top: 20px;
  }
 
</style>
