---
interface Props {
	title: string;
}

const { title } = Astro.props;
import 'bootstrap/dist/css/bootstrap.min.css';
import "aos/dist/aos.css";

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<link href="https://fonts.cdnfonts.com/css/hey-comic" rel="stylesheet">
                
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style>
	*{
		font-family: 'Hey Comic', sans-serif;
                                                
	}
</style>
<script>
	
</script>